* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Open Sans', sans-serif;
  --text-headline: #e1624f;
  --text-primary: #1b1b1b;
  --text-secondary: #333333;
  --text-tertiary: #e1624f;
  --border-primary: #d9d9d9;
  --accent-blue: #0c51a7;
  --accent-orange: #e95e10;
  --accent-pink: #e5245e;
  --accent-purple: #591b98;
}

#container {
  width: 1120px;
  height: auto;
  margin: 88px auto auto;
  box-sizing: border-box;
}

header {
  width: 1120px;
  height: 79px;
  margin: 88px auto 40px;
}

#container header p {
  color: var(--text-headline);
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 8px;
}

header h1 {
  color: var(--text-primary);
  font-size: 36px;
  font-weight: bold;
  text-align: left;
}

#description {
  width: 1120px;
  height: 729px;
  margin-bottom: 40px;
}

#description img {
  border-radius: 28px;
  margin-bottom: 24px;
}

#description p {
  color: var(--text-secondary);
  font-style: italic;
  text-align: center;
}

#content-list {
  width: 1120px;
  height: 2020px;
  border-top: 1px solid var(--border-primary);
}

#title-list {
  margin: 64px 0;
}

#title-list span {
  color: var(--text-headline);
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 2px;
}

#title-list h2 {
  color: var(--text-primary);
  text-align: left;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 8px;
}

#title-list p {
  color: var(--text-secondary);
  text-align: left;
  font-size: 16px;
  font-weight: regular;
}

#list {
  width: 1120px;
  height: 1728px;
}

#card-travel {
  width: 1120px;
  height: 522px;
  margin-bottom: 48px;
}

#card-travel img {
  border-radius: 28px;
  margin-bottom: 20px;
}

#content-card {
  width: 1120px;
  height: 152px;
}

#content-card h3 {
  color: var(--text-primary);
  font-size: 28px;
  font-weight: bold;
}

#content-card p {
  color: var(--text-secondary);
  text-align: left;
  font-size: 16px;
  font-weight: regular;
}

#content-card p + p {
  margin-top: 25px;
  color: var(--text-secondary);
  text-align: left;
  font-weight: bold;
  font-size: 16px;
}

#content-card ul {
  color: var(--accent-blue);
  text-align: left;
  font-weight: bold;
  padding-left: 24px;
}

ul li + li {
  color: var(--accent-pink);
}

ul li + li + li {
  color: var(--accent-orange);
}

#divisor {
  border: 1px solid var(--border-primary);
  margin: 40px 0px;
  display: block;
}

#container p {
  color: var(--text-secondary);
  text-align: center;
  font-size: 16px;
  font-weight: regular;
}

footer {
  text-align: center;
  color: var(--text-secondary);
  font-size: 16px;
  font-weight: regular;
  margin: 64px 0px 48px 0px;
}

footer img {
  vertical-align: middle;
}
